**Problem:**

You are given the following dataset:
1. **Audible Data** : https://1drv.ms/u/s!AiqdXCxPTydhoog8ckLN-6Cw55fzIg?e=EWgZ5d

Your task is to:
- Find the problems with the datasets.
- Define the Data Quality Dimensions.
- Try to clean the datasets.

In [2]:
import pandas as pd
import numpy as np
audible = pd.read_csv('audible_uncleaned.csv')

In [3]:
#audible.to_excel('audible.xlsx',index=False)

### Data Quality Dimensions

- Completeness -> is data missing?
- Validity -> is data invalid -> negative height -> duplicate patient id
- Accuracy -> data is valid but not accurate -> weight -> 1kg
- Consistency -> both valid and accurate but written differently -> New Youk and NY

### Order of severity

Completeness <- Validity <- Accuracy <- Consistency

### Data Cleaning Order

1. Quality -> Completeness
2. Tidiness / Messy data
3. Quality -> Validity
4. Quality -> Accuracy
5. Quality -> Consistency

#### Steps involved in Data cleaning
- Define
- Code
- Test

`Always make sure to create a copy of your pandas dataframe before you start the cleaning process`

In [7]:
#creating copy 
audible_df = audible.copy()

### Dirty Data in audible table
`name`: has extra information beside book name `consistency`

`author and narrator`: multiple entries present in single cell, some cell contains `-`  `,` `consistency`

`stars`: null value present as not rated yet `completion`

`narrator` and `author`: has entries named anonymous , Anonymous `consistency`

`price`: some cells contains `,`  like 1,000.00 `validity`



### Messy data in audible table
`author`: unnecessary words are present that do not contribute to any meaning such as 

`author` and `narrator` : has unnecessary information as 'written by' and 'narrated by'

`author and narrator`: first name and last name are not separated,different languagues present

`time` and `released date`: should be in datetime format

`stars` renamed as rating and should have only rating not a whole sentence and it's type should be int

`price`: has object datatype should be int

`language`: cotains first letter as small and somtimes capital -> should be in one form
r ice

`releasedate` , `language` , `stars` , `price` : has incorrect datatype should be datetime64,category,float,int

### Automatic Assessment

- head and tail
- sample
- info
- isnull
- duplicated
- describe

In [11]:
audible_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  object
dtypes: object(8)
memory usage: 5.3+ MB

### cleaning column stars

In [13]:
#handling coulmn stars
audible_df['stars'].sample(10)

#values present as ['Not rated yet','4.5 out of 5 stars41 ratings',]

3249         5 out of 5 stars1 rating
79119       5 out of 5 stars2 ratings
74423       4 out of 5 stars2 ratings
13861       4 out of 5 stars4 ratings
69861                   Not rated yet
59363       4 out of 5 stars2 ratings
38601                   Not rated yet
1423     4.5 out of 5 stars11 ratings
48901                   Not rated yet
7898                    Not rated yet
Name: stars, dtype: object

In [14]:
# we will create a new column named as rating
audible_df['ratings'] = audible_df.stars.str.split('stars').str.get(1).str.split().str.get(0)

In [15]:
#changing the datatype of columns ratings to int
audible_df['ratings'] = pd.to_numeric(audible_df.ratings,downcast='float',errors='coerce')

In [16]:
#filling NA values in ratings to 0 so that they can be converted into int
audible_df.ratings = audible_df.ratings.fillna(0).astype('int32')

In [17]:
#handling coulmn stars
audible_df['stars'].sample(10)

60492                  Not rated yet
19628                  Not rated yet
65790                  Not rated yet
41924                  Not rated yet
59287    4.5 out of 5 stars7 ratings
65284                  Not rated yet
18040                  Not rated yet
36960                  Not rated yet
17039                  Not rated yet
84645                  Not rated yet
Name: stars, dtype: object

In [18]:
#Replacing 'Not rated yet' with 0 and extracting star rating and storing it in 
audible_df.stars = audible_df.stars.replace('Not rated yet',0).str.split('out').str.get(0)

In [19]:
#converting its datatype to float32 to save memory
audible_df.stars = audible_df.stars.astype('float32').fillna(0)

In [20]:
audible_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  float32
 7   price        87489 non-null  object
 8   ratings      87489 non-null  int32
dtypes: float32(1), int32(1), object(7)
memory usage: 5.3+ MB

In [25]:
audible_df.narrator

0            Narratedby:BillLobely
1         Narratedby:RobbieDaymond
2            Narratedby:DanRussell
3        Narratedby:SoneelaNankani
4        Narratedby:JesseBernstein
                   ...
87484      Narratedby:ChrisStewart
87485        Narratedby:RobertFass
87486         Narratedby:FloGibson
87487       Narratedby:AntonLesser
87488       Narratedby:FleetCooper
Name: narrator, Length: 87489, dtype: object

In [26]:
audible_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  float32
 7   price        87489 non-null  object
 8   ratings      87489 non-null  int32
dtypes: float32(1), int32(1), object(7)
memory usage: 5.3+ MB

In [27]:
#now we will assess and clean the 'narrator' and 'author' columns

### Dirty Data in audible table
`name`: has extra information beside book name `consistency`

`author and narrator`: multiple entries present in single cell, some cell contains `-`  `,` `consistency`

`stars`: null value present as not rated yet `completion`

`narrator`: has entries named anonymous , Anonymous `completion`

`price`: some cells contains `,`  like 1,000.00 `validity`



### Messy data in audible table
`author`: unnecessary words are present that do not contribute to any meaning such as 

`author` and `narrator` : has unnecessary information as 'written by' and 'narrated by'

`author and narrator`: first name and last name are not separated,different languagues present

`time` and `released date`: should be in datetime format

`stars` renamed as rating and should have only rating not a whole sentence and it's type should be int

`price`: has object datatype should be int

`language`: cotains first letter as small and somtimes capital -> datatype shoulf be category

### Cleaning columns narrator and author

In [30]:
audible_df.narrator = audible_df.narrator.str.split(':').str.get(1)

In [31]:
audible_df.author = audible_df.author.str.split(':').str.get(1)

In [32]:
audible_df.query("narrator == 'anonymous' or narrator == 'Anonymous'")

,name,author,narrator,time,releasedate,language,stars,price,ratings
193,Swamp Sting!,"SebastianFacio,BlakeA.Hoena",anonymous,11 mins,16-03-22,English,0.0,105.00,0
723,The Aeneid,"DiegoAgrimbau,MarceloSosa,TrustedTranslations",anonymous,33 mins,16-03-22,English,0.0,82.00,0
724,Nuclear Distraction,"ChrisEverheart,ArcanaStudio",anonymous,14 mins,16-03-22,English,0.0,140.00,0
725,Beauty and the Dreaded Sea Beast,"OtisFrampton,LouiseSimonson",anonymous,14 mins,16-03-22,English,0.0,82.00,0
726,Double Trouble,"ScottNickel,SteveHarpster",anonymous,6 mins,16-03-22,English,0.0,105.00,0
...,...,...,...,...,...,...,...,...,...
31675,Twelve Steps and Twelve Traditions,Anonymous,Anonymous,5 hrs and 17 mins,23-01-21,English,0.0,209.00,0
37316,The Election of 1860,JessicaGunderson,Anonymous,41 mins,21-02-22,English,0.0,117.00,0
37701,Georgia,"BridgetParker,JasonKirchner",anonymous,13 mins,18-03-22,English,0.0,93.00,0
47176,Nandhi (Tamil Edition),P.Mathiyalagan,Anonymous,1 hr and 51 mins,14-02-22,tamil,0.0,48.00,0
80928,Simple Bike Maintenance,LisaJ.Amstutz,anonymous,2 mins,21-02-22,English,0.0,82.00,0

In [33]:
#replace all Anonymous with anonymous
audible_df = audible_df.replace('Anonymous','anonymous')

In [34]:
audible_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  float32
 7   price        87489 non-null  object
 8   ratings      87489 non-null  int32
dtypes: float32(1), int32(1), object(7)
memory usage: 5.3+ MB

#### assessing column time and releasedate

In [36]:
audible_df.releasedate = pd.to_datetime(audible_df.releasedate)

C:\Users\DELL\AppData\Local\Temp\ipykernel_9132\2622841027.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  audible_df.releasedate = pd.to_datetime(audible_df.releasedate)

In [218]:
#regex function to extract hours and minutes from 'time' columns
import re
def extract_text(text):
    pattern = r'(?:(\d+)\s*hrs?)?(?:\s*and\s*)?(?:(\d+)\s*mins?)?'

    match = re.search(pattern, text)
    
    hours = match.group(1) if match.group(1) else "00"
    minutes = match.group(2) if match.group(2) else "00"
    return f"{hours.zfill(2)}:{minutes.zfill(2)}"

In [195]:
#formatting time columns
audible_df.time = audible_df.time.apply(extract_text)

In [226]:
#audible_df.time.apply(lambda x : x + ":00")